---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/about.css";
---

<BaseLayout>
  <h1>Community</h1>
  <p id="community">
    In our rapidly changing world, culture diversity, uniqueness of learning ,
    and global awareness stand as priorities in the education process. OIS
    aspires to realize the maximum potential of each student whether in
    developing outstanding academic achievement or nuturing physical and social
    development. We provide our diverse students with a high quality education
    through varied pedagogical strategies , efficient technology use and
    communication channels as well as varieties of extra curricular activities
    which equip our students with the tools and skills needed to achieve success
    in their life path and open a door for wider and better chances for their
    career planning. In an advanced learning environment , our students are
    being well prepared to be life long learners ready to lead the world.
  </p>
  <br />

  <h1>Memorable OIS Events</h1>
  <div class="event-photos">
    <div class="memory1">
      <img src="/placeholders/placeholder5.png"/>
      <p id="event-name">[Event 1 Name]</p>
    </div>
    <!-- -->
    <div class="memory2">
      <img src="/placeholders/placeholder5.png"/>
      <p id="event-name">[Event 1 Name]</p>
    </div>
    <!-- -->
    <div class="memory3">
      <img src="/placeholders/placeholder5.png"/>
      <p id="event-name">[Event 3 Name]</p>
    </div>
    <!-- -->
    <div class="memory4">
      <img src="/placeholders/placeholder5.png"/>
      <p id="event-name">[Event 4 Name]</p>
    </div>
  </div>
</BaseLayout>
