---
import BaseLayout from "../../layouts/BaseLayout.astro"
---

<BaseLayout>
  <h1>Community</h1>
  <p>hi! just checking if the layout is working one last time</p>
  <p>community is part of the about page</p>
</BaseLayout>
