---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/about.css";
---

<BaseLayout>
  <h1>OIS History</h1>

  <div class="images">
    <img src="/placeholders/placeholder1.png" id="ph1" />
    <img src="/placeholders/placeholder2.png" id="ph2" />
  </div>

  <div class="about-text">
    <p>
      Since it was established by his Royal Highness, Prince Abdulla Bin Mosaad
      Bin Abdul Aziz AlSaud and Mrs. Tomader M. Ayad in 1998, O.I.S has enjoyed
      a reputation that qualified it to gain the trust of parents as well as the
      accreditation of respected educational organizations.
    </p>

    <p>
      In the year 2000-2001, the school got the approval of David Game College
      Group as an educational institution to teach the British curriculum to 645
      students registered up to the 9th grade. In 2003-2004, the school
      transferred premises with a total number of 932 students. By March 2005,
      the school has been inspected by the CITA accredited visit for Quality
      Assurance Review. The visit has resulted in accrediting the school by the
      committee, a fact that urged all the school staff to exert more efforts
      not only to keep what they gained but also to achieve more. Then, opening
      classes of senior grades &mdash;10 to 12&mdash; in the year 2006-2007
      encouraged so many students to join the school that the total number
      increased from 2385 in 2009-2010 to more than 3000 in 2012-2013. The
      school has earned last renewal of the AdvancED in 2015 for 5 years based
      on the new standards of accrediting the American schools.
    </p>

    <br />
    <br />
    <br />
    <br />
    <br />
    <p id="p34">
      This raising rate of students' number reflects the credibility that O.I.S
      is enjoying in not only Riyadh but also other regions, as students whose
      parents move from other cities to work in Riyadh put O.I.S as a first
      priority when it is time to register for school. The concept of
      development is always there at O.I.S to achieve what is best for students
      and the whole educational process. As a result, the school has put plans
      to build a new premises well facilitated and equipped to meet the
      standards of an institution of American curriculum.
    </p>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p id="p34">
      The school has transfered to the new premises since 2011 to keep its
      commitment towards parents and students of the ongoing process of
      improvement. Since the beginning of implementing the American curriculum
      within the school, a lot of efforts have been and are still being exerted
      to help students go through this curriculum as well as pass the SAT I and
      SAT II exams. Applying the delivery methods that help students grasp the
      contents of different subjects in interactive ways is a privilege that is
      always available at O.I.S. Lessons of SAT I English and Math, and SAT II
      different subjects are formally set within the weekly schedules of 10th,
      11th, and 12th graders.
    </p>

    <br />
    <br />
    <br />

    <p id="p567">
      Many teachers at O.I.S are qualified enough to conduct lessons of SAT I
      and SAT II subjects. Standardized tests- MAP in English (reading &
      language) and Mathematics- are used at school to norm students globally.
      Other forms of standardized tests in English, Math, and Science (biology,
      chemistry, and physics) are being given to students to prepare them for
      the real SAT I and SAT II tests.
    </p>

    <p id="p567">
      The school provides miscellaneous activities as an integral part of the
      educational process, encouraging students' participation to enhance their
      learning skills. The nationalities of teachers at O.I.S, Egyptians,
      Americans, Canadians, Palestinians, Indians, Philippines, Syrians,
      Sudanese, British, Yemenis, and Saudis, help create diversity that
      enhances the cultural and learning aspects.
    </p>

    <p id="p567">
      The intimate atmosphere within the school premises helps all, teachers as
      well as students, to forget about their races and mingle in a unified
      environment vital for the success of the teaching / learning process. The
      ownership of the school has been transferred to Ataa Company since July
      2014.
    </p>
  </div>
</BaseLayout>
