---
import BaseLayoutKG from "../../layouts/BaseLayoutKG.astro"
import SuppBooks from "../../components/SuppBooks.astro"
---

<BaseLayoutKG>
  <h1>Supplementary Books</h1>
  <SuppBooks />
</BaseLayoutKG>