---
import BaseLayoutKG from "../../layouts/BaseLayoutKG.astro";
import KGMaterials from "../../components/KGMaterials.astro";
---

<BaseLayoutKG>
  <h1>KG Materials</h1>
  <KGMaterials />
</BaseLayoutKG>
