---
import BaseLayoutKG from "../../layouts/BaseLayoutKG.astro"
import WeeklyReport from "../../components/WeeklyReport.astro"
---

<BaseLayoutKG>
  <h1>Weekly Report</h1>
  <WeeklyReport />
</BaseLayoutKG>
