/*OIS HISTORY*/
#ph1 {
    position: absolute;
    left: 1300px;
    top: 380px;
    width: 516.25px;
    height: 505px;
}

#ph2 {
    position: absolute;
    left: 150px;
    top: 1010px;
    width: 1580px;
    height: 180px;
}


h1 {
    font-size: 40px;
}

.about-text {
    width: 140%;
    text-align: justify;
    font-size: 18px;
}

#p34 {
    width: 155%;
}

#p567 {
    width: 155%;
    margin-bottom: 30px;
}

/*COMMUNITY*/
#community {
    text-align: justify;
    font-size: 18px;
    width: 170%;
}

.event-photos {
    display: flex;
    flex-flow: row;
    gap: 40px;
}

#event-name {
    text-align: center;
}

/*VISION AND MISSION*/
.v-and-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    text-align: center;
  }

  .v-and-m ul, h2, h3 {
    text-align: left;
    line-height: 2;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .v-and-m img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .v-and-m h1 {
    margin-top: 10px;
    font-size: 24px;
  }
  
  .v-and-m p, .v-and-m ul, .v-and-m li {
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
  }