/*OIS HISTORY*/
#ph1 {
    position: absolute;
    left: 1300px;
    top: 380px;
    width: 516.25px;
    height: 505px;
}

#ph2 {
    position: absolute;
    left: 150px;
    top: 1010px;
    width: 1580px;
    height: 180px;
}


h1 {
    font-size: 40px;
}

.about-text {
    width: 140%;
    text-align: justify;
    font-size: 18px;
}

#p34 {
    width: 155%;
}

#p567 {
    width: 155%;
    margin-bottom: 30px;
}

/*COMMUNITY*/
#community {
    text-align: justify;
    font-size: 18px;
    width: 170%;
}

.event-photos {
    display: flex;
    flex-flow: row;
    gap: 40px;
}

#event-name {
    text-align: center;
}

/*VISION AND MISSION*/
.vm-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 25px 150px;
    padding: 20px;
}

.vm-container > div {
    width: 750px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vm-container > div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #DEF4FF;
}

.vm-container img {
    width: 90px;
    height: auto;
}

.vm-container h1 {
    font-size: 30px;
    color: #005e89;
}

.vm-container h2 {
    font-size: 24px;
    color: #006da0;
}

.vm-container p, 
.vm-container ul {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    margin: 10px 0;
}

/* List items */
.vm-container ul li {
    margin-bottom: 10px;
}