html {
    background-color: #f1f5f9;
    font-family: 'Poppins';
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  

/* header 1 */
.main-header {
    width: 100vw;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  .main-header a {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
    margin: 0 50px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
  }

  .main-header a:hover,
  .main-header a:focus {
    color: #01ACFE;
  }

  .main-header a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }


#ataa-logo {
  position: relative;
  bottom: 20px;
  left: 910px;
}

#ois-logo {
    width: 100px;
    padding-top: 15px;
    position: relative;
    right: 80px;
}

.main-header p {
font-weight: 700;
font-size: 22px;
}

/*header 2*/
.contact-header {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #F84352;
  color: #ffffff;
  text-align: center;
}

.contact-header i {
  position: relative;
  top: 12px;
  font-size: 18px;
}

.phone-num {
  position: absolute;
  left: 10px;
  top: 10px;
}

.mail {
  position: absolute;
  right: 20px;
  top: 10px;
}

.contact-header .phone-num p,
.contact-header .mail p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
}

.phone-num,
.mail {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
}

/*body*/
.body-container {
  position: absolute;
  left: 40px;
  top: 300px;
}

/*footer*/
footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F84352;
  padding: 1rem;
}

footer p {
  line-height: 48px;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
} 