h1 {
    font-size: 40px;
}

.weekly-container {
    display: flex;
    gap: 265px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header p {
    font-size: 30px;
}

  /*DROPDOWN MENU GIRLS*/
.sidenav-g {
    background-color: #FFCDEB;
    width: 415px;
    overflow-x: hidden;
    margin-bottom: 25px;
  }

  .sidenav-g a, .dropdown-btn-g {
    padding: 16px;
    text-decoration: none;
    font-size: 22px;
    color: #FF71C7;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .sidenav-g a:hover {
    color: #f1f1f1;
    background-color: #F84352;
  }

  .activeg {
    background-color: #FF71C7;
    color: white;
  }

  .dropdown-container {
    display: none;
    background-color: #FFC0C5;
  }

  .dropdown-container a {
    font-size: 20px;
    color: #F84352;
  }

  /*DROPDOWN MENU BOYS*/
.sidenav-b {
  background-color: #CDEAFF;
  width: 415px;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.sidenav-b a, .dropdown-btn-b {
  padding: 16px;
  text-decoration: none;
  font-size: 22px;
  color: #71B0FF;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav-b a:hover {
  color: #f1f1f1;
  background-color: #F84352;
}

.activeb {
  background-color: #71B0FF;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #FFC0C5;
}

.dropdown-container a {
  font-size: 20px;
  color: #F84352;
}