/*MAIN KG LAYOUT*/
html {
  background-color: #ffffff;
  font-family: 'Poppins';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  max-width: 80ch;
  width: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* header 1 */
.logos {
background-color: #ffffff;
}

.logos p {
font-weight: 700;
font-size: 22px;
}

#ataa-logo {
  position: relative;
  bottom: 30px;
  left: 965px;
  margin-right: 5px;
}

#ois-logo {
  position: relative;
  top: 15px;
  right: 75px;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.main-header {
  width: 100vw;
  position: relative;
  margin-top: 50px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.main-header a {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  padding: 8px;
  margin: 0px 50px 10px 50px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  color: #01ACFE;
}

.main-header a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/*dropdown menus*/
.dropbtn {
padding: 10px;
font-size: 16px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #F0FAFF;
min-width: 160px;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #d6f1ff;}
.dropdown:hover .dropdown-content {display: block;}

/*header 2*/
.contact-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
width: 100vw;
height: 50px;
position: fixed;
z-index: 1000;
top: 0px;
left: 0px;
background-image: url("/src/images/decoration.png");
background-color: #2FC362;
color: #ffffff;
}

.contact-header i {
font-size: 16px;
white-space: nowrap;
margin: 0 auto;
flex: 1;
text-align: center;
}

.phone-num {
position: absolute;
left: 30px;
top: 10px;
}

.mail {
position: absolute;
right: 50px;
top: 10px;
}

.contact-header .phone-num p,
.contact-header .mail p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.2;
  color: #ffffff;
}

.phone-num,
.mail {
display: flex;
align-items: center;
gap: 10px;
}

/*body*/
.body-container {
flex: 1;
margin-top: 0px;
margin-left: 40px;
}

#banner-image {
position: relative;
top: 0px;
right: 40px;
width: 100vw;
height: 355px;
box-shadow: 0px -1.5px 4px rgba(0, 0, 0, 0.25);
}

/*footer*/
footer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
width: 100vw;
height: 475px;
box-sizing: border-box;
background-color: #2FC362;
padding: 20px;
box-sizing: border-box;
}

footer p {
line-height: 1.2;
font-size: 32px;
color: #ffffff;
text-align: left;
} 

.socials {
margin: 100px;
}

.socials p {
text-align: left;
}

#credits {
margin-top: 20px;
font-size: 14px;
}


.school-info {
position: absolute;
left: 1450px;
padding: 0px 25px;
}

.school-info img {
width: 35px;
margin-right: 10px;
}

.socials,
.school-info {
flex: 1;
margin: 30px;
}

#title {
line-height: 0.7;
font-size: 32px;
color: #ffffff;
text-align: left;
margin-bottom: 10px;
}

#description {
font-size: 19px;
text-align: justify;
line-height: 1.5;
}

@media (max-width: 800px) {
footer {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.socials {
  margin-bottom: 30px;
  text-align: center;
}

.school-info {
  position: static;
  margin: 0;
  text-align: center;
}
}

/*KG PAGES*/
h1 {
  font-size: 40px;
}

/*WEEKLY REPORT*/
.weekly-report-container {
  display: grid;
  grid-template-columns: repeat(3, 535px);
  grid-gap: 95px;
  margin: 0px 35px 30px;
}

.kg-wr-button {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  width: 530px;
  height: 50px;
  color: #2FC362;
  background-color: #ADFFC9;
  border: none;
  cursor: pointer;
}

.kg-wr-button img {
  width: 40px;
}

.kg-wr-button:hover {
  background-color: #7de4a1;
  color: white;
}

.week-button {
  width: 530px;
  height: 50px;
  padding: 10px;
  border: none;
  text-align: left;
  text-indent: 65px;
  font-size: 20px;
  color: #2ba455;
  background-color: #7de4a1;
}

.week-button:hover {
  color: #ffffff;
  background-color: #5fc783;
}

.weeks-list {
  display: none;
}

.active-w {
  background-color: #7de4a1;
  color: #228946;
}

/*KG MATERIALS*/
.kg-materials-container {
  display: grid;
  grid-template-columns: repeat(3, 535px);
  grid-gap: 95px;
  margin: 0px 35px 30px;
}

.kg-materials-button {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 22px;
  width: 530px;
  height: 50px;
  color: #2FC362;
  background-color: #ADFFC9;
  border: none;
  cursor: pointer;
}

.kg-materials-button img {
  width: 40px;
}

.kg-materials-button:hover {
  background-color: #7de4a1;
  color: white;
}

.kg-materials-pdf embed {
  width: 530px;
  height: 800px;
}

.kg-materials-pdf {
  display: none;
}

.active {
  background-color: #7de4a1;
  color: white;
}

/*SUPPLEMENTARY BOOKS*/
.supp-books {
  width: 650px;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.supp-books a {
  padding: 16px;
  text-decoration: none;
  font-size: 22px;
  color: #2FC362;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.supp-books a:hover {
  color: #f1f1f1;
  background-color: #2FC362;
}

.kg1 {
  margin-top: 25px;
}

.kg1, .kg2, .kg3 {
  background-color: #ADFFC9;
  margin-bottom: 60px;
}

.dropdown-btn {
  padding: 16px;
  text-decoration: none;
  font-size: 22px;
  color: #2FC362;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn img {
  width: 40px;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

.active {
  background-color: #7de4a1;
  color: white;
}

.menu-content {
  display: none;
  background-color: #ADFFC9;
}

.menu-content-0 {
  display: none;
}

.menu-content-1 img, .menu-content-2 img, .menu-content-3 img, .menu-content-4 img {
  width: 40px;
}

.menu-content-1, .menu-content-2, .menu-content-3, .menu-content-4 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 55px;
  font-size: 20px;
}

.menu-content-1, .menu-content-1 a{
  color: #C32F2F;
  background-color: #FFADAD;
}

.menu-content-1:hover, .menu-content-1 a:hover{
  color: #ffffff;
  background-color: #f17474;
}

.menu-content-2, .menu-content-2 a{
  color: #2F7CC3;
  background-color: #ADD3FF;
}

.menu-content-2:hover, .menu-content-2 a:hover{
  color: #ffffff;
  background-color: #68a4dc;
}

.menu-content-3, .menu-content-3 a{
  color: #5AC93E;
  background-color: #AFFF9B;
}

.menu-content-3:hover, .menu-content-3 a:hover{
  color: #ffffff;
  background-color: #7fde67;
}

.menu-content-4, .menu-content-4 a{
  color: #C9C43E;
  background-color: #FFFB9B;
}

.menu-content-4:hover, .menu-content-4 a:hover{
  color: #ffffff;
  background-color: #e7e361;
}