---
import BaseLayout from "../../layouts/BaseLayout.astro"
import "../../styles/studentsgrade.css";
import ClassSchedule from "../../components/ClassSchedule.astro";
---

<BaseLayout>
  <h1>Classes Schedule</h1>
  <ClassSchedule />
</BaseLayout>
