---
import BaseLayout from "../../layouts/BaseLayout.astro"
import "../../styles/studentsgrade.css";
import ExamMaterials from "../../components/ExamMaterials.astro";
---

<BaseLayout>
  <h1>Exam Materials</h1>
  <ExamMaterials />
</BaseLayout>
