---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/studentsgrade.css";
import ExamTimetable from "../../components/ExamTimetable.astro";
---

<BaseLayout>
  <h1>Exam Timetable</h1>
  <ExamTimetable />
</BaseLayout>
