---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/studentsgrade.css";
import QuizSchedule from "../../components/QuizSchedule.astro";
---

<BaseLayout>
  <h1>Quizzes Schedule</h1>
  <QuizSchedule />
</BaseLayout>
