---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Admission</h1>
  <p>hi! just checking if the layout is working one last time</p>
  <p>this is the admission page</p>
</BaseLayout>
