---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/dashboard.css";
---

<BaseLayout>
  <img src="/src/images/banner.png" alt="Banner" id="banner-image" />
  <div class="announcements">
    <h1>testing</h1>
    <p>hi! this is announcements placeholder</p>
  </div>

  <div class="calendar">
    <h1>testing</h1>
    <p>hi! this is calendar placeholder</p>
  </div>
</BaseLayout>
