---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/dashboard.css";
---

<BaseLayout>
  <img src="/src/images/banner.png" alt="Banner" id="banner-image"/>
  <h1>testing</h1>
  <p>hi! just checking if the layout is working one last time</p>
</BaseLayout>
