---
import DropDownMenuGirls2 from "./DropDownMenuGirls2.astro";
import DropDownMenuBoys2 from "./DropDownMenuBoys2.astro";
---

<div class="grade-container">
  <!--GIRLS' CLASS SCHEDULES -->
  <div class="girls-section">
    <DropDownMenuGirls2 />
  </div>
  <!--BOYS' CLASS SCHEDULES -->
  <div class="boys-section">
    <DropDownMenuBoys2 />
  </div>
</div>