---

---

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="contact-header">
  <div class="phone-num">
    <img src="/src/images/phone.png" alt="Phone number" />
    <p>920023370</p>
  </div>

  <div class="mail">
    <img src="/src/images/mail.png" alt="Contact" />
    <p>Contact</p>
  </div>

  <i>Today's learners, tomorrow's leaders</i>
</div>
