<script src="../scripts/dropdown-g.js"></script>

<div class="header">
  <img src="/src/images/Girl.png" />
  <p>Girls Section</p>
</div>
<div class="sidenav-g">
  <button class="dropdown-btn-g"> Grades 1-3 </button>
  <div class="dropdown-container">
    <embed src="/src/pdf_files/girlsschedule1-3.pdf" />
  </div>
  <button class="dropdown-btn-g"> Grades 4-12 </button>
  <div class="dropdown-container">
    <embed src="/src/pdf_files/girlsschedule4-12.pdf" />
  </div>
</div>
