<script src="../scripts/dropdown-b.js"></script>

<div class="header">
  <img src="/src/images/Boy.png" />
  <p>Boys Section</p>
</div>
<div class="sidenav-b">
  <button class="dropdown-btn-b"> Grades 1-3 </button>
  <div class="dropdown-container-pdf">
    <embed src="/src/pdf_files/boysschedule1-3.pdf" />
  </div>
  <button class="dropdown-btn-b"> Grades 4-12 </button>
  <div class="dropdown-container-pdf">
    <embed src="/src/pdf_files/boysschedule4-12.pdf" />
  </div>
</div>
