<script src="../scripts/dropdown.js"></script>

<div class="sidenav">
  <button class="dropdown-btn"> Grades 3 to 12 </button>
  <div class="dropdown-container-pdf-2">
    <embed src="/src/pdf_files/girlsschedule1-3.pdf" />
  </div>
</div>
