<script src="../scripts/dropdown-g.js"></script>

<div class="header">
  <img src="/src/images/Girl.png" />
  <p>Girls Section</p>
</div>
<!--DROPDOWN MENU -->
<div class="sidenav-g">
  <button class="dropdown-btn-g"> Grade 1 </button>
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
  </div>
  <button class="dropdown-btn-g"> Grade 2 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
    <a href="#">Turquoise</a>
  </div>
  <button class="dropdown-btn-g"> Grade 3 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
  <button class="dropdown-btn-g"> Grade 4 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
  </div>
  <button class="dropdown-btn-g"> Grade 5 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
  <button class="dropdown-btn-g"> Grade 6 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
  <button class="dropdown-btn-g"> Grade 7 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
  <button class="dropdown-btn-g"> Grade 8 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
  <button class="dropdown-btn-g"> Grade 9 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
  <button class="dropdown-btn-g"> Grade 10 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
  </div>
  <button class="dropdown-btn-g"> Grade 11 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
    <a href="#">Turquoise</a>
  </div>
  <button class="dropdown-btn-g"> Grade 12 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Green</a>
    <a href="#">Pink</a>
    <a href="#">Red</a>
    <a href="#">Yellow</a>
  </div>
</div>
