<script src="../scripts/dropdown-b.js"></script>

<div class="header">
  <img src="/src/images/Boy.png" />
  <p>Boys Section</p>
</div>
<!--DROPDOWN MENU -->
<div class="sidenav-b">
  <button class="dropdown-btn-b"> Grade 1 </button>
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
  </div>
  <button class="dropdown-btn-b"> Grade 2 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
  </div>
  <button class="dropdown-btn-b"> Grade 3 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
  </div>
  <button class="dropdown-btn-b"> Grade 4 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
  </div>
  <button class="dropdown-btn-b"> Grade 5 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
  </div>
  <button class="dropdown-btn-b"> Grade 6 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
  <button class="dropdown-btn-b"> Grade 7 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
  <button class="dropdown-btn-b"> Grade 8 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
  <button class="dropdown-btn-b"> Grade 9 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
  <button class="dropdown-btn-b"> Grade 10 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">Orange</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
  <button class="dropdown-btn-b"> Grade 11 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
  <button class="dropdown-btn-b"> Grade 12 </button>
  <!--DDM -->
  <div class="dropdown-container">
    <a href="#">Blue</a>
    <a href="#">White</a>
    <a href="#">Violet</a>
    <a href="#">Silver</a>
  </div>
</div>
