<script src="../scripts/dropdown-m.js"></script>
<script src="../scripts/dropdown-m2.js"></script>

<div class="materials-container">
  <!-- -->
  <div class="grade-1">
    <button class="materials-button">Grade 1</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade1-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-2">
    <button class="materials-button">Grade 2</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade2-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-3">
    <button class="materials-button">Grade 3</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade3-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-4">
    <button class="materials-button">Grade 4</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade4-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-5">
    <button class="materials-button">Grade 5</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade5-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-6">
    <button class="materials-button">Grade 6</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade6-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-7">
    <button class="materials-button">Grade 7</button>
    <div class="materials-pdf">
      <embed src="/src/pdf_files/grade7-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="grade-8">
    <button class="materials-button">Grade 8</button>
    <div class="materials-subbutton">
      <button class="materials-button2">American</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade8-materialsAM.pdf" />
      </div>
      <button class="materials-button2">IG</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade8-materialsIG.pdf" />
      </div>
    </div>
  </div>
  <!-- -->
  <div class="grade-9">
    <button class="materials-button">Grade 9</button>
    <div class="materials-subbutton">
      <button class="materials-button2">American</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade9-materialsAM.pdf" />
      </div>
      <button class="materials-button2">IG</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade9-materialsIG.pdf" />
      </div>
    </div>
  </div>
  <!-- -->
  <div class="grade-10">
    <button class="materials-button">Grade 10</button>
    <div class="materials-subbutton">
      <button class="materials-button2">American</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade10-materialsAM.pdf" />
      </div>
      <button class="materials-button2">IG</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade10-materialsIG.pdf" />
      </div>
    </div>
  </div>
  <!-- -->
  <div class="grade-11">
    <button class="materials-button">Grade 11</button>
    <div class="materials-subbutton">
      <button class="materials-button2">American</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade11-materialsAM.pdf" />
      </div>
      <button class="materials-button2">IG</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade11-materialsIG.pdf" />
      </div>
    </div>
  </div>
  <!-- -->
  <div class="grade-12">
    <button class="materials-button">Grade 12</button>
    <div class="materials-subbutton">
      <button class="materials-button2">American</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade12-materialsAM.pdf" />
      </div>
      <button class="materials-button2">IG</button>
      <div class="materials-pdf2">
        <embed src="/src/pdf_files/grade12-materialsIG.pdf" />
      </div>
    </div>
  </div>
</div>
