---
import DropDownMenuLG from "./DropDownMenuLG.astro";
import DropDownMenuHG from "./DropDownMenuHG.astro"
---

<div class="grade-container-2">
  <!--LOWER GRADES-->
  <div class="low-grade">
    <DropDownMenuLG />
  </div>
  <!--HIGHER GRADES-->
  <div class="high-grade">
    <DropDownMenuHG />
  </div>
</div>
