---
import Social from "./Social.astro";
---

<footer>
  <div class="socials">
    <p>Follow Us On</p>
    <Social platform="x" username="alorubaschksa" />
    <Social platform="facebook" username="alorubaSCksa" />
    <Social platform="instagram" username="alorubaschools" />
    <p id="credits">Copyright (C) 2025 OIS</p>
  </div>

  <div class="school-info">
    <p id="title">
      <img src="/src/images/PlaceMarker.png" alt="Location" />Location
    </p>
    <p id="description">
      Ahmed Bin Roshed Street, Fasil Bin Fahd Road, Near King Fahed Cultural
      Center Al Rafeeah Zone.
    </p>
    <p id="title"><img src="/src/images/Letter.png" alt="Mail" />Mail</p>
    <p id="description">23661, Riyadh 11553 - Saudi Arabia</p>
    <p id="title">
      <img src="/src/images/Phone2.png" alt="Number" />Contact Number
    </p>
    <p id="description">920023370</p>
  </div>
</footer>
