---
import Social from "./Social.astro";
---

<footer>
  <div class="socials">
    <p>Follow Us On</p>
    <Social platform="x" username="alorubaschksa" />
    <Social platform="facebook" username="alorubaSCksa" />
    <Social platform="instagram" username="alorubaschools" />
  </div>

  <div class="school-info">
    <p>Location:</p>
  </div>
</footer>
