<script src="../scripts/dropdown-kg2.js"></script>

<div class="kg-materials-container">
  <!-- -->
  <div class="kg-1">
    <button class="kg-materials-button">      
      <img src="/src/images/ABC.png" />
      KG 1
    </button>
    <div class="kg-materials-pdf">
      <embed src="/src/pdf_files/kg1-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="kg-2">
    <button class="kg-materials-button">      
      <img src="/src/images/Numbers.png" />
      KG 2
    </button>
    <div class="kg-materials-pdf">
      <embed src="/src/pdf_files/kg2-materials.pdf" />
    </div>
  </div>
  <!-- -->
  <div class="kg-3">
    <button class="kg-materials-button">      
      <img src="/src/images/Apple.png" />
      KG 3
    </button>
    <div class="kg-materials-pdf">
      <embed src="/src/pdf_files/kg3-materials.pdf" />
    </div>
  </div>
</div>
