<script src="../scripts/dropdown-kg.js"></script>

<div class="kg-materials">
  <div class="kg1">
    <button class="dropdown-btn">
      <img src="/src/images/ABC.png" />
      KG 1
    </button>
    <div class="menu-content">
      <embed src="/src/pdf_files/kg1-materials.pdf" />
    </div>
  </div>
  <div class="kg2">
    <button class="dropdown-btn">
      <img src="/src/images/Numbers.png" />
      KG 2
    </button>
    <div class="menu-content">
      <embed src="/src/pdf_files/kg2-materials.pdf" />
    </div>
  </div>
  <div class="kg3">
    <button class="dropdown-btn">
      <img src="/src/images/Apple.png" />
      KG 3
    </button>
    <div class="menu-content">
      <embed src="/src/pdf_files/kg3-materials.pdf" />
    </div>
  </div>
</div>
