---

---

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="main-header">
  <div class="logos">
    <!-- Logos -->
    <img src="/src/images/ataa.png" alt="Ataa Logo" id="ataa-logo" />
    <a href="/">
      <img
        src="/src/images/16248789752274.png"
        alt="Oruba Logo"
        id="ois-logo"
      />
    </a>
    <p>Al Oruba International Schools</p>
  </div>

  <!--ABOUT -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/About.png" alt="About" />
      About
    </a>
    <div class="dropdown-content">
      <a href="/about/ois/">About OIS</a>
      <a href="/about/community/">Community</a>
      <a href="/about/visionmission/">Vision & Mission</a>
    </div>
  </div>
  <!--ABOUT -->

  <!--STUDENTS GRADE -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Student.png" alt="Students" />
      Students (Grades 1-12)
    </a>
    <div class="dropdown-content">
      <a href="/students_grade/weeklygrade/">Weekly Plan</a>
      <a href="/students_grade/classschedule/">Class Schedules</a>
      <a href="/students_grade/quizschedule/">Quizzes Schedules</a>
      <a href="/students_grade/examtimetable/">Exam Timetable</a>
      <a href="/students_grade/exammaterials/">Exam Materials</a>
      <a href="#">Students Ranking</a> <!-- -->
    </div>
  </div>
  <!--STUDENTS GRADE -->

  <!--STUDENTS KG -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Toddler.png" alt="KG" />
      Students (KG)
    </a>
    <div class="dropdown-content">
      <a href="/students/">Weekly Report</a>
      <a href="#">KG Materials</a>
      <a href="#">Supplementary Books</a>
      <a href="#">Student of the Week</a>
    </div>
  </div>
  <!--STUDENTS KG -->

  <!--PARENTS -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Guardian.png" alt="Parents" />
      Parents
    </a>
    <div class="dropdown-content">
      <a href="/parents/">Handbooks</a>
      <a href="#">Book List 2025 [SOON]</a>
      <a href="#">Book List 2025 (IGCSE) [SOON]</a>
      <a href="#">School Calendar</a>
      <a href="#">School Supplies</a>
    </div>
  </div>
  <!--PARENTS -->

  <!--ADMISSION -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Backpack.png" alt="Admission" />
      Admission
    </a>
    <div class="dropdown-content">
      <a href="/admission/">Online Payment</a>
      <a href="#">Book a School Tour</a>
      <a href="#">Registration Steps</a>
      <a href="#">Registration Package</a>
    </div>
  </div>
  <!--ADMISSION -->
</div>
