---

---

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="main-header">
  <!--logos -->
  <img src="/src/images/ataa.png" id="ataa-logo" />
  <img src="/src/images/16248789752274.png" id="ois-logo" />
  <p>Al Oruba International Schools</p>

  <!--navigation -->
  <a href="/about/">About</a>
  <a href="/students/">Students</a>
  <a href="/parents/">Parents</a>
  <a href="/admission/">Admission</a>
</div>
