---

---

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="main-header">
  <!-- Logos -->
  <img src="/src/images/ataa.png" id="ataa-logo" />
  <img src="/src/images/16248789752274.png" id="ois-logo" />
  <p>Al Oruba International Schools</p>

  <!-- Navigation -->
  <a href="/about/">
    <img src="/src/images/About.png" alt="About" />
    About
  </a>
  <a href="/students/">
    <img src="/src/images/Student.png" alt="Students" />
    Students
  </a>
  <a href="/parents/">
    <img src="/src/images/Guardian.png" alt="Parents" />
    Parents
  </a>
  <a href="/admission/">
    <img src="/src/images/Backpack.png" alt="Admission" />
    Admission
  </a>
</div>
