---

---

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="main-header">
  <div class="school-logo">
    <img src="/src/images/16248789752274.png" />
    <h3>Al Oruba International Schools</h3>
  </div>
  <a href="/about/">About</a>
  <a href="/students/">Students</a>
  <a href="/parents/">Parents</a>
  <a href="/admission/">Admission</a>
</div>
