---

---

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="main-header">
  <div class="logos">
    <!-- Logos -->
    <img src="/src/images/ataa.png" alt="Ataa Logo" id="ataa-logo" />
    <a href="/">
      <img
        src="/src/images/16248789752274.png"
        alt="Oruba Logo"
        id="ois-logo"
      />
    </a>
    <p>Al Oruba International Schools</p>
  </div>

  <!--ABOUT -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/About.png" alt="About" />
      About (BETA)
    </a>
    <div class="dropdown-content">
      <a href="/about/">About OIS</a>
      <a href="#">Community</a>
      <a href="#">Vision & Mission</a>
    </div>
  </div>
  <!--ABOUT -->

  <!--STUDENTS -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Student.png" alt="Students" />
      Students (BETA)
    </a>
    <div class="dropdown-content">
      <a href="/students/">Weekly Plan</a>
      <a href="#">Class Schedules</a>
      <a href="#">Quizzes Schedules</a>
    </div>
  </div>
  <!--STUDENTS -->

  <!--PARENTS -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Guardian.png" alt="Parents" />
      Parents (BETA)
    </a>
    <div class="dropdown-content">
      <a href="/parents/">Handbooks</a>
      <a href="#">Calendar</a>
      <a href="#">School Supplies</a>
    </div>
  </div>
  <!--PARENTS -->

  <!--ADMISSION -->
  <div class="dropdown">
    <a class="dropbtn">
      <img src="/src/images/Backpack.png" alt="Admission" />
      Admission (BETA)
    </a>
    <div class="dropdown-content">
      <a href="/admission/">Online Payment</a>
      <a href="#">Book a School Tour</a>
      <a href="#">Registration Steps</a>
    </div>
  </div>
  <!--ADMISSION -->
</div>
