---
import DropDownMenuGirls3 from "./DropDownMenuGirls3.astro";
import DropDownMenuBoys3 from "./DropDownMenuBoys3.astro";
---

<div class="grade-container">
  <!--GIRLS' CLASS SCHEDULES-->
  <div class="girls-section">
    <DropDownMenuGirls3 />
  </div>
  <!--BOYS' CLASS SCHEDULES-->
  <div class="boys-section">
    <DropDownMenuBoys3 />
  </div>
</div>
