<script src="../scripts/dropdown-kg3.js"></script>

<div class="supp-books">
  <div class="kg1">
    <button class="dropdown-btn">
      <img src="/src/images/ABC.png" />
      KG 1
    </button>
    <div class="menu-content-0">
        <div class="menu-content-1">
          <img src="/src/images/ABC2.png" />
          <a href="#">English</a>
        </div>
    
        <div class="menu-content-2">
          <img src="/src/images/Maths.png" />
          <a href="#">Math</a>
        </div>
    
        <div class="menu-content-3">
          <img src="/src/images/Science.png" />
          <a href="#">Science</a>
        </div>
    
        <div class="menu-content-4">
          <img src="/src/images/Arabic.png" />
          <a href="#">Arabic</a>
        </div>
    </div>
  </div>
  <div class="kg2">
    <button class="dropdown-btn">
      <img src="/src/images/Numbers.png" />
      KG 2
    </button>
    <div class="menu-content-0">
        <div class="menu-content-1">
          <img src="/src/images/ABC2.png" />
          <a href="#">English</a>
        </div>
    
        <div class="menu-content-2">
          <img src="/src/images/Maths.png" />
          <a href="#">Math</a>
        </div>
    
        <div class="menu-content-3">
          <img src="/src/images/Science.png" />
          <a href="#">Science</a>
        </div>
    
        <div class="menu-content-4">
          <img src="/src/images/Arabic.png" />
          <a href="#">Arabic</a>
        </div>
    </div>
  </div>
  <div class="kg3">
    <button class="dropdown-btn">
      <img src="/src/images/Apple.png" />
      KG 3
    </button>
    <div class="menu-content">
      <a href="#">English</a>
      <a href="#">Math</a>
      <a href="#">Science</a>
      <a href="#">Arabic</a>
    </div>
  </div>
</div>
