<script src="../scripts/dropdown-kg.js"></script>

<div class="weekly-report-container">
  <!-- -->
  <div class="kg-1">
    <button class="kg-wr-button">      
      <img src="/src/images/ABC.png" />
      KG 1
    </button>
          <div class="weeks-list">
            <button class="week-button">Week 2</button>
            <button class="week-button">Week 3</button>
            <button class="week-button">Week 4</button>
            <button class="week-button">Week 5</button>
            <button class="week-button">Week 6</button>
            <button class="week-button">Week 7</button>
            <button class="week-button">Week 8</button>
            <button class="week-button">Week 9</button>
          </div>
  </div>
  <!-- -->
  <div class="kg-2">
    <button class="kg-wr-button">      
      <img src="/src/images/Numbers.png" />
      KG 2
    </button>
          <div class="weeks-list">
            <button class="week-button">Week 2</button>
            <button class="week-button">Week 3</button>
            <button class="week-button">Week 4</button>
            <button class="week-button">Week 5</button>
            <button class="week-button">Week 6</button>
            <button class="week-button">Week 7</button>
            <button class="week-button">Week 8</button>
            <button class="week-button">Week 9</button>
          </div>
  </div>
  <!-- -->
  <div class="kg-3">
    <button class="kg-wr-button">      
      <img src="/src/images/Apple.png" />
      KG 3
    </button>
          <div class="weeks-list">
            <button class="week-button">Week 2</button>
            <button class="week-button">Week 3</button>
            <button class="week-button">Week 4</button>
            <button class="week-button">Week 5</button>
            <button class="week-button">Week 6</button>
            <button class="week-button">Week 7</button>
            <button class="week-button">Week 8</button>
            <button class="week-button">Week 9</button>
          </div>
  </div>
</div>
