<script src="../scripts/dropdown-kg.js"></script>

<div class="weekly-menu">
    <div class="kg1">
        <button class="dropdown-btn">
            <img src="/src/images/ABC.png" />
            KG 1
          </button>
          <div class="menu-content">
            <a href="#">Week 2</a>
            <a href="#">Week 3</a>
            <a href="#">Week 4</a>
            <a href="#">Week 5</a>
            <a href="#">Week 6</a>
            <a href="#">Week 7</a>
            <a href="#">Week 8</a>
            <a href="#">Week 9</a>
          </div>
    </div>
    <div class="kg2">
        <button class="dropdown-btn">
            <img src="/src/images/Numbers.png" />
            KG 2
          </button>
          <div class="menu-content">
            <a href="#">Week 2</a>
            <a href="#">Week 3</a>
            <a href="#">Week 4</a>
            <a href="#">Week 5</a>
            <a href="#">Week 6</a>
            <a href="#">Week 7</a>
            <a href="#">Week 8</a>
            <a href="#">Week 9</a>
          </div>
    </div>
    <div class="kg3">
        <button class="dropdown-btn">
            <img src="/src/images/Apple.png" />
            KG 3
          </button>
          <div class="menu-content">
            <a href="#">Week 2</a>
            <a href="#">Week 3</a>
            <a href="#">Week 4</a>
            <a href="#">Week 5</a>
            <a href="#">Week 6</a>
            <a href="#">Week 7</a>
            <a href="#">Week 8</a>
            <a href="#">Week 9</a>
          </div>
    </div>
</div>
