---
import DropDownMenu from "./DropDownMenu.astro";
---

<div class="weekly-container">
  <!--GIRLS' WEEKLY PLAN -->
  <div class="girls-section">
    <DropDownMenu />
  </div>
  <!--BOYS' WEEKLY PLAN -->
  <div class="boys-section">
    <DropDownMenu />
  </div>
</div>
