---
import DropDownMenuGirls1 from "./DropDownMenuGirls1.astro";
import DropDownMenuBoys1 from "./DropDownMenuBoys1.astro";
---

<div class="grade-container">
  <!--GIRLS' WEEKLY PLAN -->
  <div class="girls-section">
    <DropDownMenuGirls1 />
  </div>
  <!--BOYS' WEEKLY PLAN -->
  <div class="boys-section">
    <DropDownMenuBoys1 />
  </div>
</div>
